
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
	<meta name="author" content="Bootlab">

	<title>Sign In | AppStack - Admin &amp; Dashboard Template</title>

	<link rel="canonical" href="pages-sign-in.html" />
	<link rel="shortcut icon" href="img/favicon.ico">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&amp;display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<!-- <link href="css/light.css" rel="stylesheet"> -->
	<!-- <link href="css/dark.css" rel="stylesheet"> -->

	<!-- BEGIN SETTINGS -->
	<!-- Remove this after purchasing -->
	<link class="js-stylesheet" href="css/light.css" rel="stylesheet">
	<script src="js/settings.js"></script>
	<!-- END SETTINGS -->
</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-behavior: sticky (default), fixed, compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky" style="background-color: #22ff6e;">
	<div class="main d-flex justify-content-center w-100">
		<main class="content d-flex p-0" style="margin-top: 140px;">
			<div class="container d-flex flex-column">
				<div class="row h-100">
					<div class="col-sm-10 col-md-8 col-lg-4 mx-auto d-table h-100">
						<div class="d-table-cell align-middle">

							

							<div class="card">
								<div class="card-body">
									<div class="m-sm-3">
										<div class="text-center">
											<img src="img/avatars/avatar.jpg" alt="Chris Wood" class="img-fluid rounded-circle" style="border: 2px solid #008c3d;
											margin-top: -92px;
											display: flex;
											margin-left: 88px;" width="132" height="132" />
										</div>
										<form action="/login" method="POST">
											<div class="form-group">
												<label>Email</label>
												<input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email" />
											</div>
											<div class="form-group">
												<label>Password</label>
												<input class="form-control form-control-lg" type="password" name="password" placeholder="Enter your password" />
												<small>
            <a href="pages-reset-password.html">Forgot password?</a>
          </small>
											</div>
											<div>
												<div class="custom-control custom-checkbox align-items-center">
													<input type="checkbox" class="custom-control-input" value="remember-me" name="remember-me" checked>
													<label class="custom-control-label text-small">Remember me next time</label>
												</div>
											</div>
											<div class="text-center mt-3">
												<input type="submit" value="Login"/>
												<!-- <a href="#" class="btn btn-lg btn-primary">Sign in</a> -->
												<!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
											</div>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script src="js/app.js"></script>

</body>
</html>